<section>
  <div class="wrapper">
    <h2>Get online fast with our simple activation.</h2>
    <p>Get online and listed fast with our simple activation process. You can list in less than 48 hours with our trusted software partners.</p>
    <p>Simply tap on your integration partner below to learn more or get started!</p>
    <ul class="activation-options">
      <li>
        <a href="/why-list-with-us/activation/escapia" title="List in Vaystays via Escapia">
          <img src="/assets/images/png/software/escapia.png" alt="List in Vaystays via Escapia"/>
        </a>
      </li>
      <li>
        <a href="/why-list-with-us/activation/isi" title="List in Vaystays via ISI Link">
          <img src="/assets/images/png/software/isi.png" alt="List in Vaystays via ISI Link"/>
        </a>
      </li>
      <li>
        <a href="/why-list-with-us/activation/streamline" title="List in Vaystays via Streamline">
          <img src="/assets/images/png/software/streamline.png" alt="List in Vaystays via Streamline"/>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="highlight">
<div class="wrapper feature-centered">
    <h3>Manage your listings on Vaystays.</h3>
    <p>Not yet synched with any of these service providers? No problem. You can still get online fast with our simple manual activation process.</p>
    <a class="button" href="/why-list-with-us/activation/vaystays">Get started</a>
  </div>
</section>
