<div class="content-header">
  <h3>About Vaystays</h3>
  <p>
    Vaystays is the premier professional vacation rental marketplace, offering beautiful vacation homes in the best destinations across the globe. Every property listed on Vaystays is individually verified by our team and professionally managed, giving you peace of mind. So all you have to do is kick back and enjoy your vacation, stress free.
  </p>

  <h4>Benefits</h4>
  <ul>
    <li>At least seven paid days for major holidays</li>
    <li>24 additional PTO days per year</li>
    <li>401k plan</li>
  </ul>

    <p>
      As we are a lean and growing startup, our benefits program is currently light. Aside from what is listed above we do provide office supplies and technology. We do not provide company healthcare at this time. We are actively revisiting these benefits as we grow, so as to best support our team.
    </p>
</div>
