<div class="content-header">
  <h2>About Vaystays</h2>
  <p>
    Whether booking or staying, we value professionalism and convenience when it comes to our own travel accommodations. This is the essence of the fine hotel brands we trust, yet when we’re getting away with family and friends, we don’t book hotel rooms. We book vacation homes.
  </p>
  <p>
    When it comes to standardization, however, the vacation home rental industry we know and love pales in comparison to the hotel industry we admire and trust. Accordingly, Vaystays was founded with one mission: to bridge this industry gap.
  </p>
  <p>
    Vaystays is a global B2C vacation rental marketplace for property managers and guests who share a belief in high quality customer service, standards, technology, and experiences. Every Vaystay is verified, professionally managed, easy to book, and guaranteed to satisfy.
  </p>
  
  <h3>Benefits</h3>
  <ul>
    <li>At least seven paid days for major holidays</li>
    <li>24 additional PTO days per year</li>
    <li>401k plan</li>
  </ul>

    <p>
      As we are a lean and growing startup, our benefits program is currently light. Aside from what is listed above we do provide office supplies and technology. We do not provide company healthcare at this time. We are actively revisiting these benefits as we grow, so as to best support our team.
    </p>
</div>
