<ul>
  <li>
    <a href="/">About Us</a>
  </li>
  <li>
    <a href="/careers">Careers</a>
  </li>
  <li>
    <a href="/press">Press</a>
  </li>
  <li>
    <a href="http://magazine.vaystays.com" target="_blank">Magazine</a>
  </li>
  <li>
    <a href="http://help.vaystays.com" target="_blank">Help</a>
  </li>
</ul>

<ul>
  <li>
    <a href="https://www.vaystays.com/how-it-works">How it Works</a>
  </li>
  <li>
    <a href="https://www.vaystays.com/why-list-with-us">Why List</a>
  </li>
  <li>
    <a href="http://help.vaystays.com/customer/portal/topics/673628-faq-for-guests/articles">Guest FAQ</a>
  </li>
  <li>
    <a href="http://help.vaystays.com/customer/portal/topics/673627-faq-for-owners/articles">Owner FAQ</a>
  </li>
  <li>
    <a href="https://www.vaystays.com/featured-destinations">Browse</a>
  </li>
</ul>

<ul>
  <li>
    <a href="/legal/owner-contract">Owner's Contract</a>
  </li>
  <li>
    <a href="/legal/guest-contract">Guest Contract</a>
  </li>
</ul>
