<ul>
  <li>
    <a href="http://magazine.vaystays.com" target="_blank">Magazine</a>
  </li>
  <li>
    <a href="https://www.vaystays.com/featured-destinations">Featured Destinations</a>
  </li>
  <li>
    <a href="https://about.vaystays.com/">About Us</a>
  </li>
  <li>
    <a href="https://about.vaystays.com/careers">Careers</a>
  </li>
  <li>
    <a href="https://about.vaystays.com/press">Press</a>
  </li>
  <li>
    <a href="https://www.vaystays.com/contact-us">Contact</a>
  </li>
</ul>

<ul>
  <li>
    <a href="https://www.vaystays.com/why-list-with-us">Why List with Us</a>
  </li>
  <li>
    <a href="http://help.vaystays.com/customer/portal/topics/673627-faq-for-owners/articles" target="_blank">Owner FAQ</a>
  </li>
  <li>
    <a href="https://about.vaystays.com/legal/owner-contract">Owner Contract</a>
  </li>
</ul>

<ul>
  <li>
    <a href="https://www.vaystays.com/how-it-works">Why Book with Us</a>
  </li>
  <li>
    <a href="http://help.vaystays.com/customer/portal/topics/673628-faq-for-guests/articles" target="_blank">Guest FAQ</a>
  </li>
  <li>
    <a href="https://about.vaystays.com/legal/guest-contract">Guest Contract</a>
  </li>
</ul>
