<figure class="site-footer-social-links">
  <ul>
    <li>
      <a href="https://www.facebook.com/vaystays/" target="_blank" title="Vaystays on Facebook">
        <i class="icon icon-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/vaystays" target="_blank" title="Vaystays on Twitter">
        <i class="icon icon-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/vaystays/" target="_blank" title="Vaystays on Instagram">
        <i class="icon icon-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/vaystays/" target="_blank" title="Vaystays on Pinterest">
        <i class="icon icon-pinterest"></i>
      </a>
    </li>
  </ul>
</figure>
