<header class="site-header">
  <figure class="header-nav-toggle">
    <a href="#">
      <img src="/assets/images/svg/menu.svg">
      <div>Menu</div>
    </a>
  </figure>
  <figure class="header-logo">
    <h1>
      <a href="https://www.vaystays.com" title="Vaystays">
        <picture>
          <source srcset="/assets/images/svg/logo_shield_with_wordmark.svg" media="(min-width: 800px)">
            <source srcset="/assets/images/svg/logo_shield.svg">
          <img src="/assets/images/svg/logo_shield.svg" alt="Vaystays">
        </picture>
      </a>
    </h1>
  </figure>

  <figure class="header-user-icon">
    <a href="https://www.vaystays.com/my-account" title="My Vaystays Account">
      <img src="/assets/images/svg/user.svg" alt="My Vaystays Account">
    </a>
  </figure>
</header>
