<nav role="navigaton" class="navigation-page-tree">
  <ul>
    <li>
      <a href="/careers/">All Careers</a>
      <a href="/careers/full-stack-engineer">Full-stack Engineer</a>
      <a href="/careers/senior-front-end-engineer">Senior Front-End Engineer</a>
      <a href="/careers/business-development-specialist">Business Development Strategist</a>
      <a href="/careers/head-of-operations">Head of Operations</a>
      <a href="/careers/operations-executive">Operations Executive</a>
    </li>
  </ul>
</nav>
