<nav class="site-nav">
  <ul class="site-nav-links">
    <li>
      <a href="https://www.vaystays.com" title="Search on Vaystays">Search</a>
    </li>
    <li>
      <a href="https://www.vaystays.com/featured-destinations" title="Search on Vaystays">Featured Destinations</a>
    </li>
    <li>
      <a href="https://about.vaystays.com/why-book-with-us" title="Why book with Vaystays">How it Works</a>
    </li>
    <li>
      <a href="https://about.vaystays.com/why-list-with-us" title="Why list your properties with Vaystays">Why List with Us</a>
    </li>
    <li>
      <a href="https://www.vaystays.com/my-account" title="My Vaystays Account">My Account</a>
    </li>
    <li>
      <a href="https://about.vaystays.com" title="About Vaystays">About</a>
    </li>
    <li>
      <a href="http://magazine.vaystays.com" target="_blank" title="Vaystays Magazine">Magazine</a>
    </li>
    <li>
      <a href="#" class="link-subscribe" title="Subscribe to Vaystays for information and upcoming deals">Subscribe</a>
    </li>
    <li>
      <a href="http://help.vaystays.com" title="Vaystays Help">Help</a>
    </li>
  </ul>
  <ul class="site-nav-contact">
    <li>
      <a href="mailto:customerservice@vaystays.com" title="Email Vaystays customer service at customerservice@vaystays.com">customerservice@vaystays.com</a>
    </li>
    <li>
      <a href="tel:18448297829" title="Call Vaystays customer service at 18448297829">1 (844) 829-7829</a>
    </li>
    <li>
      <a href="#" class="intercom-toggle" title="Chat with Vaystays customer service now">Chat with Customer Service</a>
    </li>
  </ul>
  {% include social-links.html %}
</nav>
<div class="site-nav-overlay"></div>
