<header class="site-preheader">
  <ul>
    <li>
      <a href="mailto:customerservice@vaystays.com" title="Email Vaystays customer service at customerservice@vaystays.com">Email Customer Service</a>
    </li>
    <li>
      <a href="tel:18448297829" title="Call Vaystays customer service at 18448297829">1 (844) 829-7829</a>
    </li>
    <li>
      <a href="#" class="intercom-toggle" title="Chat with Vaystays customer service now">Chat</a>
    </li>
    <li>
      <a href="https://www.facebook.com/vaystays/" target="_blank" title="Vaystays on Facebook">
        <i class="icon icon-facebook"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/vaystays" target="_blank" title="Vaystays on Twitter">
        <i class="icon icon-twitter"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/vaystays/" target="_blank" title="Vaystays on Instagram">
        <i class="icon icon-instagram"></i>
      </a>
    </li>
    <li>
      <a href="https://www.pinterest.com/vaystays/" target="_blank" title="Vaystays on Pinterest">
        <i class="icon icon-pinterest"></i>
      </a>
    </li>
    <li>
      <a href="http://magazine.vaystays.com" target="_blank" title="Vaystays Magazine">Magazine</a>
    </li>
    <li>
      <a href="#" title="Subscribe to Vaystays for information and upcoming deals">Subscribe</a>
    </li>
    <li>
      <a href="http://help.vaystays.com" target="_blank" title="Vaystays Help Portal">Help</a>
    </li>
  </ul>
</header>
