<section class="highlight logo-section">
  <div class="wrapper">
    <h3>Supported by:</h3>
    <ul>
      {% include logo-item.html
        item="bbb"
        type="trust"
      %}
      {% include logo-item.html
        item="pci"
        type="trust"
      %}
      {% include logo-item.html
        item="stripe"
        type="trust"
      %}
      {% include logo-item.html
        item="tls"
        type="trust"
      %}
      {% include logo-item.html
        item="vrma"
        type="trust"
      %}
    </ul>
  </div>
</section>
