html {
  background: $color-background-gray;
}
body {
  background: $color-white;
  font-family: $text-serif;
  line-height: 1.44;
}

* {
  box-sizing: border-box;
}
::-moz-selection {
}
::selection {
}

.page-content {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
}
