.page-content {
  color: $color-darker-gray;
  font-family: $text-serif;
  margin: auto;
  padding: 1.999*$em 1.999*$em 3.998*$em;
  max-width: 80*$em;
  width: 100%;
}
.page-content-with-sidebar {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  margin: auto;
  padding: 1.999*$em 1.999*$em 3.998*$em;
  max-width: 80*$em;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
  }
}
.content-footer {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}
.careers-header {
  border-bottom: 1px solid $color-aqua-blue;
  font-family: $medium-avenir;
  padding-bottom: .707*$em;
  text-align: center;
  @media screen and (min-width: $m-l) {
    text-align: left;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin-top: .707*$em;
  }
}
.careers-content {
  ul {
    list-style: disc;
  }
}
