.page-content:not(.full) {
  background: $color-white;
  color: $color-darker-gray;
  font-family: $text-serif;
  margin: auto;
  padding: 1.999*$em 1.999*$em 3.998*$em;
  max-width: 80*$em;
  width: 100%;
}
.page-content.explainer section {
  font-family: $text-serif;
  .wrapper {
    padding: 2.828*$em $em;
    margin: 0 auto;
    max-width: 80*$em;
    width: 100%;
    @media screen and (min-width: $m-l) {
      padding: 3.998*$em 1.999*$em;
    }
    &.feature-centered {
      max-width: $s-m;
      margin: auto;
      &.text-centered {
        text-align: center;
      }
      .button {
        margin: 2.828*$em auto 0;
      }
    }
  }
  &.highlight {
    background: $color-white-gray;
  }
  &.lowlight {
    background: $color-background-gray;
  }
  &.bluelight {
    background: $color-link-blue;
    color: $color-white;
  }
  &.double-wide {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    display: flex;
    width: 100%;
    .wrapper {
      @media screen and (min-width: $m) {
        min-height: $s;
      }
    }
  }
}
.page-content-with-sidebar:not(.full) {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  margin: auto;
  padding: 1.999*$em 1.999*$em 3.998*$em;
  max-width: 80*$em;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
  }
}
.content-footer {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}
.careers-header {
  border-bottom: 1px solid $color-aqua-blue;
  font-family: $text-sans;
  font-weight: 500;
  padding-bottom: .707*$em;
  text-align: center;
  @media screen and (min-width: $m-l) {
    text-align: left;
  }
  h2 {
    margin: 0;
  }
  h3 {
    margin-top: .707*$em;
  }
}
.careers-content {
  ul {
    list-style: disc;
  }
}
.ancillary {
  display: none;
  @media screen and (min-width: $m) {
    display: block;
  }
}
.two-1-2 {
  @media screen and (min-width: $m-l) {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    display: flex;
    section {
      width: 50%;
    }
  }
}

.two-1-3 {
  @media screen and (min-width: $m-l) {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    display: flex;
    section:first-child {
      width: 33.33%;
    }
    section:last-child {
      width: 66.67%;
    }
    .wrapper {
      height: 25*$em;
    }
  }
}
