.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(33vh - 63px);
  @media screen and (min-width: $l) {
    height: calc(66vh - 85px);
  }
}

.team-individual {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m) {
    @include align-items(flex-start);
    @include flex-direction(row);
  }
  img {
    max-height: 12*$em;
    max-width: 12*$em;
    margin: 1.414*$em 1.414*$em 0;
    @media screen and (min-width: $m-l) {
      margin: 1.414*$em;
    }
  }
}
.team-individual + .team-individual {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

.press-item {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  h3 {
    font-size: $em;
    margin-top: .3535*$em;
  }
}
.press-item + .press-item {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

#intercom-container .intercom-launcher-frame {
  display: none !important;
  @media screen and (min-width: $m) {
    display: inherit !important;
    margin-bottom: 12px;
  }
  @media screen and (min-width: $xxl) {
    margin-bottom: 0;
  }
}
