.jumbotron {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(33vh - 63px);
  @media screen and (min-width: $l) {
    height: calc(66vh - 85px);
  }
}

.team-individual {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m) {
    @include align-items(flex-start);
    @include flex-direction(row);
  }
  img {
    max-height: 12*$em;
    max-width: 12*$em;
    margin: 1.414*$em 1.414*$em 0;
    @media screen and (min-width: $m-l) {
      margin: 1.414*$em;
    }
  }
}
.team-individual + .team-individual {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

.press-item {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  h3 {
    font-size: $em;
    margin-top: .3535*$em;
  }
}
.press-item + .press-item {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

#intercom-container .intercom-launcher-frame,
#intercom-container .intercom-chat {
  display: none !important;
  @media screen and (min-width: $m) {
    display: inherit !important;
    margin-bottom: 12px;
  }
  @media screen and (min-width: $xxl) {
    margin-bottom: 0;
  }
}

.quote-wrapper {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
  }
  @media screen and (min-width: $l) {
    @include flex-direction(column);
  }
  @media screen and (min-width: $xl) {
    @include flex-direction(row);
  }
}
.quote-image {
  @media screen and (min-width: $s-m) {
    background-image: url('/assets/images/png/workspace.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 20*$em;
    margin: 0 0 $em 0;
    width: 100%;
  }
  @media screen and (min-width: $m-l) {
    margin: 0 $em 0 0;
    width: 50%;
  }
  @media screen and (min-width: $l) {
    margin: 0 0 $em 0;
    width: 100%;
  }
  @media screen and (min-width: $xl) {
    margin: 0 $em 0 0;
    width: 50%;
  }
}
.quote {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(space-between);
  background: $color-link-blue;
  color: $color-white;
  display: flex;
  font-family: $text-sans;
  height: 20*$em;
  padding: 1.414*$em;
  text-align: center;
  width: 100%;
  @media screen and (min-width: $m-l) {
    width: 50%;
  }
  @media screen and (min-width: $l) {
    width: 100%;
  }
  @media screen and (min-width: $xl) {
    width: 50%;
  }
  blockquote,
  span {
    color: rgba(255,255,255,.75);
    font-size: 1.0605*$em;
    margin: .707*$em 0;
  }
  blockquote {
    font-weight: 500;
  }
  b {
    color: $color-white;
    font-weight: 500;
  }
  img {
    border-radius: 50%;
    height: 10*$em;
    width: 10*$em;
  }
}
