.jumbotron {
  background-color: $color-aqua-blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(33vh - 63px);
  @media screen and (min-width: $l) {
    height: calc(66vh - 85px);
  }
}
.jumbotron-text {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  background-position: center;
  color: $color-white;
  height: auto;
  min-height: calc(33vh - 63px);
  @media screen and (min-width: $l) {
    min-height: calc(66vh - 85px);
  }
  .wrapper {
    @include align-items(flex-start);
    @include flex-direction(column);
    @include justify-content(space-between);
    display: flex;
    min-height: calc(25vh);
    @media screen and (min-width: $l) {
      min-height: calc(50vh);
    }
  }
  h2 {
    text-shadow: 0px 0px 2px $color-background-black;
    @media screen and (min-width: $l) {
      font-size: 2.827*$em;
    }
  }
  div {
    width: 100%;
    @media screen and (min-width: $l) {
      align-self: flex-end;
      width: auto;
    }
    .button {
      margin: 1.414*$em auto 0;
    }
  }
  p {
    font-family: $text-sans;
    font-weight: 500;
    max-width: $s-m;
    text-shadow: 0px 0px 2px $color-background-black;
    @media screen and (min-width: $l) {
      align-self: flex-end;
      font-size: 1.414*$em;
    }
  }
}

.team-individual {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m) {
    @include align-items(flex-start);
    @include flex-direction(row);
  }
  img {
    max-height: 12*$em;
    max-width: 12*$em;
    margin: 1.414*$em 1.414*$em 0;
    @media screen and (min-width: $m-l) {
      margin: 1.414*$em;
    }
  }
}
.team-individual + .team-individual {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

.press-item {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  h3 {
    font-size: $em;
    margin-top: .3535*$em;
  }
}
.press-item + .press-item {
  border-top: 1px solid $color-aqua-blue;
  margin-top: 1.414*$em;
  padding-top: 1.414*$em;
}

#intercom-container .intercom-launcher-frame,
#intercom-container .intercom-chat {
  display: none !important;
  @media screen and (min-width: $m) {
    display: inherit !important;
    margin-bottom: 12px;
  }
  @media screen and (min-width: $xxl) {
    margin-bottom: 0;
  }
}

.quote-wrapper {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
  }
  @media screen and (min-width: $l) {
    @include flex-direction(column);
  }
  @media screen and (min-width: $xl) {
    @include flex-direction(row);
  }
}
.quote-image {
  @media screen and (min-width: $s-m) {
    background-image: url('/assets/images/png/workspace.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 20*$em;
    margin: 0 0 $em 0;
    width: 100%;
  }
  @media screen and (min-width: $m-l) {
    margin: 0 $em 0 0;
    width: 50%;
  }
  @media screen and (min-width: $l) {
    margin: 0 0 $em 0;
    width: 100%;
  }
  @media screen and (min-width: $xl) {
    margin: 0 $em 0 0;
    width: 50%;
  }
}
.quote {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(space-between);
  background: $color-link-blue;
  color: $color-white;
  display: flex;
  font-family: $text-sans;
  height: 20*$em;
  padding: 1.414*$em;
  text-align: center;
  width: 100%;
  @media screen and (min-width: $m-l) {
    width: 50%;
  }
  @media screen and (min-width: $l) {
    width: 100%;
  }
  @media screen and (min-width: $xl) {
    width: 50%;
  }
  blockquote,
  span {
    color: rgba(255,255,255,.75);
    font-size: 1.0605*$em;
    margin: .707*$em 0;
  }
  blockquote {
    font-weight: 500;
    @media screen and (min-width: $l) {
      font-size: 1.414*$em;
    }
    @media screen and (min-width: $xl) {
      font-size: 1.0605*$em;
    }
  }
  b {
    color: $color-white;
    font-weight: 500;
  }
  img {
    border-radius: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 10*$em;
    width: 10*$em;
  }
}

.logo-section {
  text-align: center;
  ul {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(center);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    @media screen and (min-width: $m) {
      max-width: $s-m;
    }
    @media screen and (min-width: $m-l) {
      max-width: $m;
    }
    @media screen and (min-width: $l-xl) {
      max-width: $l;
    }
    li {
      height: 4*$em;
      line-height: 4*$em;
      margin: .3535*$em;
      padding: .5*$em;
      width: 10*$em;
      @media screen and (min-width: $l-xl) {
        margin: .3535*$em .707*$em;
      }
      img {
        max-height: 3*$em;
      }
    }
  }
}
.three-up {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
    margin-top: 2.828*$em;
  }
  li {
    @include align-items(flex-start);
    @include flex-direction(row);
    @include justify-content(flex-start);
    display: flex;
    padding: $em 0;
    @media screen and (min-width: $m-l) {
      @include flex-direction(column);
      padding: 0 $em;
      width: 33%;
    }
    span {
      border: 1px solid $color-dark-gray;
      border-radius: 50%;
      flex-grow: 0;
      flex-shrink: 0;
      font-family: $text-sans;
      font-weight: 500;
      font-size: 1.414*$em;
      height: 2.706*$em;
      line-height: 2.706*$em;
      text-align: center;
      margin: auto;
      width: 2.706*$em;
    }
    figure {
      margin: 0 0 0 $em;
      @media screen and (min-width: $m-l) {
        margin: $em 0 0 0;
      }
      h4 {
        font-size: 1.414*$em;
        margin-top: 0;
        @media screen and (min-width: $m-l) {
          text-align: center;
        }
      }
    }
  }
}
.activation-steps {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(flex-start);
  display: flex;
  @media screen and (min-width: $m-l) {
    @include flex-direction(row);
  }
  li {
    padding: $em 0;
    @media screen and (min-width: $m-l) {
      padding: 0 $em;
      width: 33%;
    }
  }
}
.activation-options {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  @media screen and (min-width: $m-l) {
    margin-top: 2.828*$em;
    @include flex-direction(row);
  }
  li {
    padding: $em 0;
    text-align: center;
    @media screen and (min-width: $m-l) {
      padding: 0 $em;
      width: 33%
    }
  }
}
ul.separate {
  font-family: $text-sans;
  font-size: 1.414*$em;
  font-weight: 500;
  list-style: disc;
  margin: 1.414*$em auto;
  padding-left: 1.414*$em;
  max-width: $m;
}
ul.stack {
  margin: auto;
  max-width: $s;
  text-align: center;
  li {
    i {
      display: block;
      height: 2*$em;
      margin: 1.414*$em auto 0;
      width: 2*$em;
    }
  }
}
.image-holder {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.item-centered {
  @include align-items(flex-start);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  margin: auto;
  max-width: $s-m;
}
#book-form {
  .wrapper {
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);
    color: $color-white;
    display: flex;
    min-height: calc(25vh);
    @media screen and (min-width: $l) {
      min-height: calc(50vh);
    }
  }
  h3 {
    font-size: 1.999*$em;
    text-shadow: 0px 0px 2px $color-background-black;
    @media screen and (min-width: $l) {
      font-size: 2.827*$em;
      margin-bottom: 1.999*$em;
    }
  }
  p {
    font-family: $text-sans;
    font-weight: 500;
    text-shadow: 0px 0px 2px $color-background-black;
    @media screen and (min-width: $l) {
      font-size: 1.414*$em;
    }
  }
}
.wrapper.feature.feature-pull {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  @media screen and (min-width: $l) {
    @include flex-direction(row);
  }
  img {
    max-height: $s;
    @media screen and (min-width: $l) {
      margin-right: 5*$em;
      max-height: none;
      max-width: $s;
    }
  }
  .item-centered {
    margin: 0;
  }
}
.wrapper.feature.feature-push {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  @media screen and (min-width: $l) {
    @include flex-direction(row-reverse);
  }
  img {
    max-height: $s;
    @media screen and (min-width: $l) {
      margin-left: 5*$em;
      max-height: none;
      max-width: $s;
    }
  }
  .item-centered {
    margin: 0;
  }
}
.software-header-icon {
  display: block;
  margin: 1.999*$em auto 0;
}
.activation-mailer {
  margin: auto;
  max-width: $m;
  .form-group {
    @include align-items(flex-end);
    @include flex-direction(column);
    @include justify-content(space-between);
    display: flex;
    .form-element {
      width: 100%;
    }
    @media screen and (min-width: $m) {
      @include flex-direction(row);
      &.group-2 {
        .form-element {
          width: 48%;
        }
      }
      &.group-3 {
        .form-element {
          width: 31%;
        }
      }
    }

  }
}
.icon-paragraph {
  @include align-items(center);
  @include flex-direction(column);
  @include justify-content(center);
  display: flex;
  @media screen and (min-width: $l) {
    @include flex-direction(row);
    @include justify-content(flex-start);
    margin-top: 2.828*$em;
  }
  i {
    height: 5*$em;
    width: 5*$em;
    @media screen and (min-width: $l) {
      margin-right: 2.828*$em;
    }
  }
}
.growable img {
  @media screen and (min-width: 680px) {
    max-width: 400px !important;
  }
  @media screen and (min-width: 1024px) {
    max-width: 680px !important;
  }
}
.testimonial {
  display: block;
  position: relative;
  @media screen and (min-width: $m-l) {
    height: 24*$em;
    padding-left: 33.33%;
    &:before {
      background-image: url("/assets/images/png/testimonial.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      display: block;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 33.33%;
    }
  }
  blockquote {
    &:before {
      background-image: url("/assets/images/png/testimonial-head.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      content: "";
      display: block;
      margin: 0 auto 1.414*$em;
      height: 10*$em;
      width: 10*$em;
    }
    p {
      @media screen and (min-width: $m) {
        font-size: 1.414*$em;
      }
      @media screen and (min-width: $l) {
        font-size: $em;
      }
      @media screen and (min-width: $xl) {
        font-size: 1.414*$em;
      }
    }
    author {
      color: $color-medium-gray;
      font-family: $text-sans;
      font-weight: 500;
      text-align: right;
    }
  }
}
