.site-footer {
  color: $color-medium-gray;
  font-family: $regular-avenir;
  font-size: .707*$em;
  padding: 1.999*$em $em;
  @media screen and (min-width: $m-l) {
    padding: 2.827*$em $em;
  }
  .site-footer-logo {
    text-align: center;
  }
  .site-footer-content {
  @include align-items(center);
  @include flex-direction(column-reverse);
  @include justify-content(center);
    display: flex;
    max-width: $xl;
    margin: auto;
    padding-top: $em;
    width: 100%;
    @media screen and (min-width: $m-l) {
      @include align-items(flex-start);
      @include flex-direction(row);
      @include justify-content(space-between);
      padding-top: 1.999*$em;
    }
    .site-footer-links {
      @include align-items(center);
      @include flex-direction(column);
      @include justify-content(space-between);
      display: flex;
      @media screen and (min-width: $s-m) {
        @include align-items(flex-start);
        @include flex-direction(row);
        max-width: $m;
        width: 100%;
      }
      @media screen and (min-width: $m-l) {
        margin-right: 1.99*$em;
        width: $s-m;
      }
      a {
        color: $color-medium-gray;
        font-size: .707*$em;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: $color-link-blue;
          text-decoration: underline;
        }
      }
      ul {
        width: 100%;
        @media screen and (min-width: $s-m) {
          width: auto;
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid $color-light-gray;
          margin-bottom: .707*$em;
          padding-bottom: .707*$em;
          @media screen and (min-width: $s-m) {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
        &:first-of-type li:nth-of-type(2) {
          margin-bottom: $em;
        }
      }
    }
    .site-footer-figures {
      @include align-items(center);
      @include flex-direction(column);
      @include justify-content(flex-end);
      display: flex;
      max-width: $s;
      padding-bottom: 1.414*$em;
      width: 100%;
      @media screen and (min-width: $m-l) {
        @include align-items(flex-end);
        padding-bottom: 0;
      }
      .site-footer-mailer {
        padding-bottom: .707*$em;
        width: 100%;
        .footer-mail-description {
          text-align: center;
          @media screen and (min-width: $m-l) {
            text-align: left;
          }
        }
        #mc_embed_signup_scroll {
          @include align-items(flex-end);
          @include flex-direction(row);
          @include justify-content(flex-end);
          display: flex;
          width: 100%;
          .mc-field-group {
            width: 80%;
          }
          #mc-embedded-subscribe {
            padding-bottom: 12.312px;
            padding-top: 12.312px;
            width: 20%;
          }
        }
      }
      .site-footer-social-links {
        width: 50%;
        ul {
          @include align-items(center);
          @include flex-direction(row);
          @include justify-content(space-between);
          display: flex;
          width: 100%;
          @media screen and (min-width: $s-m) {
            @include align-items(flex-end);
          }
          .icon {
            height: 1.414*$em;
            width: 1.414*$em;
          }
        }
      }
    }
  }
}
.site-postfooter {
  background: $color-background-gray;
  color: $color-dark-gray;
  font-family: $medium-avenir;
  padding: .707*$em $em;
  .site-postfooter-content {
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(space-between);
    display: flex;
    margin: auto;
    max-width: $xl;
    text-align: center;
    width: 100%;
    @media screen and (min-width: $m-l) {
      @include flex-direction(row);
    }
  }
  a {
    color: $color-darker-gray;
    text-decoration: none;
    &:hover {
      color: $color-link-blue;
      text-decoration: underline;
    }
  }
  small {
    display: inline-block;
  }
  .site-postfooter-logo {
    margin-bottom: .707*$em;
    @media screen and (min-width: $m-l) {
      margin-bottom: 0;
    }
    img {
      height: 24px;
      vertical-align: middle;
    }
  }
}
