.site-preheader {
  display: none;
  @media screen and (min-width: $m-l) {
    border-bottom: 1px solid $color-background-gray;
    display: flex;
    @include align-items(center);
    @include flex-direction(row);
    @include justify-content(flex-end);
    height: 1.414*$em;
    padding: 0 $em;
    text-transform: uppercase;
    top: 0;
    position: absolute;
    width: 100%;
    ul {
      @include display(flex);
      @include flex-direction(row);
      font-size: .707*$em;
    }
    li {
      margin-left: $em;
      a {
        color: $color-medium-gray;
        font-family: $medium-avenir;
        text-decoration: none;
        &:hover {
          color: $color-link-blue;
          text-decoration: underline;
        }
      }
      a:hover {
        .icon.icon-facebook {
          background-image: url('/assets/svg/icon_facebook_brand.svg');
        }
        .icon.icon-twitter {
          background-image: url('/assets/svg/icon_twitter_brand.svg');
        }
        .icon.icon-instagram {
          background-image: url('/assets/svg/icon_instagram_brand.svg');
        }
        .icon.icon-pinterest {
          background-image: url('/assets/svg/icon_pinterest_brand.svg');
        }
      }
      .icon {
        height: .707*$em;
        width: .707*$em;
      }
    }
  }
}
.site-header {
  @include align-items(flex-end);
  @include flex-direction(row);
  @include justify-content(center);
  border-bottom: 1px solid $color-background-gray;
  display: flex;
  padding: .707*$em $em;
  position: relative;
  @media screen and (min-width: $m-l) {
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 1.414*$em;
  }
  .header-logo {
    height: 40px;
    a {
      display: block;
    }
    h1 {
      line-height: 1;
      margin: 0;
    }
    img,
    picture {
      height: 40px;
    }
  }
  .header-user-icon {
    display: block;
    height: 40px;
    position: absolute;
    right: $em;
    @media screen and (min-width: $m-l) {
      position: relative;
      right: auto;
    }
    img {
      height: 40px;
    }
  }
}
