.icon {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  height: $em;
  width: $em;
  &.icon-facebook {
    background-image: url('/assets/svg/icon_facebook.svg');
  }
  &.icon-facebook-brand {
    background-image: url('/assets/svg/icon_facebook_brand.svg');
  }
  &.icon-instagram {
    background-image: url('/assets/svg/icon_instagram.svg');
  }
  &.icon-instagram-brand {
    background-image: url('/assets/svg/icon_instagram_brand.svg');
  }
  &.icon-pinterest {
    background-image: url('/assets/svg/icon_pinterest.svg');
  }
  &.icon-pinterest-brand {
    background-image: url('/assets/svg/icon_pinterest_brand.svg');
  }
  &.icon-twitter {
    background-image: url('/assets/svg/icon_twitter.svg');
  }
  &.icon-twitter-brand {
    background-image: url('/assets/svg/icon_twitter_brand.svg');
  }
}
