input[type="text"],
input[type="email"] {
  @include placeholder-text {
    color: $color-light-gray;
  }
  background: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: 0;
  color: $color-darker-gray;
  display: block;
  font-size: .88375*$em;
  font-family: $text-serif;
  line-height: 1;
  outline: none;
  transition: border-color $transition-short;
  padding: .707*$em;
  -webkit-appearance: none;
  width: 100%;
  &:focus {
    border-color: $color-aqua-blue !important;
    outline: none;
  }
}
label {
  color: $color-darker-gray;
  display: block;
  font-family: $regular-avenir;
  font-size: .707*$em;
  padding: .707*$em 0 .17675*$em;
}

input[type="submit"] {
  background: $color-orange;
  border: 1px solid $color-dark-orange;
  border-radius: 0;
  color: $color-white;
  cursor: pointer;
  font-size: .88375*$em;
  line-height: 1;
  padding: .707*$em;
  -webkit-appearance: none;
  width: 100%;
  &:hover {
    background: lighten($color-orange, 5);
  }
}
