body {
  font-family: $text-sans;
}

h1, h2, h3, h4 {
  margin: 1.414*$em 0 0.5*$em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: $medium-avenir;
  font-size: 2.827*$em;
  margin-top: 0;
}

h2 {
  font-family: $medium-avenir;
  font-size: 1.999*$em;
}

h3 {
  font-family: $regular-avenir;
  font-size: 1.414*$em;
}

h4 {
  font-family: $medium-avenir;
  font-weight: bold;
}

small,
.font_small {
  font-size: 0.707*$em;
}

.wordmark {
  letter-spacing: .17675em;
  text-transform: uppercase;
}
