body {
  font-family: $text-sans;
}

h1, h2, h3, h4 {
  margin: 1.414*$em 0 0.5*$em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  font-family: $text-sans;
  font-size: 2.827*$em;
  font-weight: 500;
  margin-top: 0;
}

h2 {
  font-family: $text-sans;
  font-size: 1.999*$em;
  font-weight: 500;
}

h3 {
  font-family: $text-sans;
  font-size: 1.414*$em;
  font-weight: 500;
}

h4 {
  font-family: $text-sans;
  font-weight: 500;
}

.wrapper > h1:first-child,
.wrapper > h2:first-child,
.wrapper > h3:first-child,
.wrapper > h4:first-child {
  margin-top: 0;
}

small,
.font_small {
  font-size: 0.707*$em;
}

time {
  color: $color-dark-gray;
  font-family: $text-sans;
  font-weight: 500;
  font-size: .707*$em;
  text-transform: uppercase;
}

.wordmark {
  letter-spacing: .17675em;
  text-transform: uppercase;
}
