@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Catamaran:100,300,400,500|Lora:400,700');


$text-sans: "Avenir Next","Avenir","Century Gothic","Catamaran",Helvetica,Arial,sans-serif;
$text-serif: "Lora",Georgia,serif;
$text-display: "Didot","Abril Fatface",Georgia,serif;

$color-white: #ffffff;
$color-white-gray: #fafafa;
$color-background-gray: #f5f5f5;
$color-lightest-gray: #EDEDED;
$color-light-gray: #E5E2E2;
$color-medium-gray: #ABABAB;
$color-dark-gray: #777777;
$color-darker-gray: #404040;
$color-background-black: #1a1919;
$color-link-blue: #34adc3;
$color-aqua-blue: #80cfdd;
$color-green: #64db88;
$color-orange: #f7a537;
$color-dark-orange: #f69a1e;
$color-red: #e87150;


$em: 16px;

$s: 20*$em;       // 320px
$s-m: 30*$em;     // 480px
$m: 40*$em;       // 640px
$m-l: 50*$em;     // 800px
$l: 60*$em;       // 960px
$l-xl: 64*$em;    // 1024px
$xl: 80*$em;      // 1280px
$xxl: 90*$em;     // 1440px

$transition-standard: 1.6s;
$transition-short: .3s;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin display($a) {
  display: $a;
}
@mixin flex-direction($a) {
  -moz-flex-direction: $a;
  -ms-flex-direction: $a;
  -webkit-flex-direction: $a;
  flex-direction: $a;
}
@mixin align-content($a) {
  align-content: $a;
}
@mixin align-items($a) {
  -moz-align-items: $a;
  -webkit-align-items: $a;
  align-items: $a;
}
@mixin align-self($a) {
  -moz-align-self: $a;
  -webkit-align-self: $a;
  align-self: $a;
}
@mixin justify-content($a) {
  -moz-box-pack: $a;
  -ms-box-pack: $a;
  -webkit-box-pack: $a;
  box-pack: $a;
  -moz-justify-content: $a;
  -ms-justify-content: $a;
  -webkit-justify-content: $a;
  justify-content: $a;
}
@mixin justify-self($a) {
  -moz-justify-self: $a;
  -ms-justify-self: $a;
  -webkit-justify-self: $a;
  justify-self: $a;
}

@mixin placeholder-text {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}
