<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include preheader.html %}
    {% include header.html %}
    {% include nav.html %}
    {% include back-about.html %}
    {% if page.jumbotron %}
      {% include jumbotron.html %}
    {% endif %}
    <main class="page-content page-content-with-sidebar">
      {% include nav-about.html %}
      <div class="wrapper about-content">
        {{ content }}
      </div>
    </main>
    <div id="lightbox-target"></div>
    {% include footer.html %}
    {% include postfooter.html %}
    {% include intercom.html %}
    {% include ga.html %}
  </body>
</html>
