<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include preheader.html %}
    {% include header.html %}
    {% include nav.html %}
    {% include back-careers.html %}
    <main class="page-content page-content-with-sidebar">
      {% include nav-careers.html %}
      <div class="wrapper careers-content">
        <header class="careers-header">
          <h2>{{ page.title }}</h2>
          <h3><span>{{ page.type }}</span> | <span>{{ page.location }}</span></h3>
        </header>
        {% include careers-content-header.html %}
        {{ content }}
        {% include careers-content-footer.html %}
      </div>
    </main>
    <div id="lightbox-target"></div>
    {% include footer.html %}
    {% include postfooter.html %}
    {% include intercom.html %}
  </body>
</html>
