<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include preheader.html %}
    {% include header.html %}
    {% include back-careers.html %}
    <main class="page-content page-content-with-sidebar">
      {% include nav-careers.html %}
      <div class="wrapper careers-content">
        {{ page.title }}
        {{ page.type }}
        {{ page.location }}
        {% include careers-content-header.html %}
        {{ content }}
        {% include careers-content-footer.html %}
      </div>
    </main>
    {% include footer.html %}
    {% include postfooter.html %}
    {% include intercom.html %}
  </body>
</html>
