<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include preheader.html %}
    {% include header.html %}
    {% include nav.html %}
    {% if page.jumbotron %}
      <figure class="jumbotron" style="background-image: url({{ page.jumbotron }});">
      </figure>
    {% endif %}
    <main class="page-content page-content-with-sidebar">
      {% include nav-careers.html %}
      <div class="wrapper careers-content">
        {{ content }}
      </div>
    </main>
    <div id="lightbox-target"></div>
    {% include footer.html %}
    {% include postfooter.html %}
    {% include intercom.html %}
  </body>
</html>
