---
layout: explainer
title: Why Book With Vaystays
permalink: /why-book-with-us/
---

<section class="jumbotron jumbotron-text" id="jumbotron">
  <div class="wrapper">
    <h2>Perfect the art of carefree travel.</h2>
    <p>Discover a better way to travel with Vaystays, where every vacation home rental is professionally managed, instantly bookable, and verified.</p>
  </div>
</section>
<style>
  #jumbotron {
    background-image: url('/assets/images/png/why-book-sm.png');
  }
  @media screen and (min-width: 640px) {
    #jumbotron {
      background-image: url('/assets/images/png/why-book.png');
    }
  }
</style>
<section>
  <div class="wrapper">
    <h3>How it works.</h3>
    <ul class="three-up">
      <li>
        <span>1</span>
        <figure>
          <h4>Discover your dream home.</h4>
          <p>Every vacation home on Vaystays is verified, with accurate property details and photos. They’re all also professionally managed, giving you peace of mind while traveling. </p>
        </figure>
      </li>
      <li>
        <span>2</span>
        <figure>
          <h4>Book it instantly.</h4>
          <p>Our calendars are always up to date, meaning you can instantly book your vacation home rental — no back-and-forth needed. Plus, we offer accurate and transparent pricing, so there are no surprises at checkout.</p>
        </figure>
      </li>
      <li>
        <span>3</span>
        <figure>
          <h4>Get excited – and relax!</h4>
          <p>You’ll have on-the-ground support for your entire vacation, so the most stressful part of your trip will be deciding what to have for dinner.</p>
        </figure>
      </li>
    </ul>
  </div>
</section>

<section class="highlight logo-section">
  <div class="wrapper">
    <h3>As seen in these publications:</h3>
    <ul>
      {% include logo-item.html
        item="inc"
        type="press"
      %}
      {% include logo-item.html
        item="reuters"
        type="press"
      %}
      {% include logo-item.html
        item="technori"
        type="press"
      %}
      {% include logo-item.html
        item="tribune"
        type="press"
      %}
      {% include logo-item.html
        item="vrma"
        type="press"
      %}
    </ul>
  </div>
</section>

<section>
  <div class="wrapper">
    <h3>Experience the Vaystays difference.</h3>
    <p>Most Americans only take one vacation a year, making your trip too important to leave it to chance. So how can we help?</p>
    <p>We only list the best vacation rental homes on Vaystays — there are no room rentals or apartment shares, and every vacation home rental is professionally managed, because the quality of your vacation is our top priority. And booking with us comes with some pretty cool guarantees:</p>
    <ul class="separate">
      <li>Verified properties only</li>
      <li>Up-to-date property calendars</li>
      <li>An accessible, on-the-ground property manager</li>
      <li>Dedicated phone and email support</li>
      <li>Payment is securely held in escrow until you check in</li>
    </ul>
    <p>Simply put, we’re only satisfied when you are. So we work hard to ensure that you get personalized support every step of the way, and that there are no double bookings, misrepresented listings, or poor service. Meaning all you have to do is find your perfect retreat, click ‘book it’, and relax.</p>
  </div>
</section>

<section id="book-form" class="image-holder">
  <div class="wrapper">
    <h3>Escape the everyday.</h3>
    <p>Where would you rather be?</p>
    <a class="button" href="https://www.vaystays.com" title="Book with Vaystays">Book now</a>
  </div>
</section>
<style>
  #book-form {
    background-image: url('/assets/images/png/why-book-cta-sm.png');
  }
  @media screen and (min-width: 640px) {
    #book-form {
      background-image: url('/assets/images/png/why-book-cta.png');
    }
  }
</style>
{% include support-logos.html %}

<section>
  <div class="wrapper feature feature-pull">
    <img src="/assets/images/png/features/listings.png" />
    <figure class="item-centered">
      <h3>List your vacation rentals on Vaystays.</h3>
      <p>Join our growing community of 350+ professional property management companies, and list your properties where they belong.</p>
      <a class="button" href="https://about.vaystays.com/why-list-with-us" title="List with Vaystays" target="_blank">List now</a>
    </figure>
</div>
</section>
